<html>
<head>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="../Scripts/navBar.js"></script>
</head>
<body>
<nav style="font-family:'Comic Sans MS'" role="navigation">
    <ul>
        <li><a href="MainPage.html"><strong>Maze</strong></a></li>
        <li><a href="SinglePlayer.html">Single Game</a></li>
        <li><a href="MultiPlayer.html">MultiPlayer Game</a></li>
        <li><a href="Settings.html">Settings</a></li>
        <li><a href="UserRankings.html">User Rankings</a></li>
        <li style="float:right"><a id="login" href="Login.html">Login</a></li>
        <li style="float:right"><a id="register" href="Register.html">Register</a></li>

    </ul>
</nav>
    <script>
        
    </script>
</body>
</html>


