<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <script src="../Scripts/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/StyleSheet.css">
    <script src="../Scripts/sha.js"></script>
    <script src="../Scripts/sha1.js"></script>
    <script src="../Scripts/sha_dev.js"></script>
</head>
<body>
    <style>
        .form {
            width: 150px;
            margin: 5px;
            font-family: 'Comic Sans MS';
        }
    </style>

    <ul id="nav-bar"></ul>
    <script>
            $("#nav-bar").load("NavBar.html");
    </script>
    <div class="body">
        <h1>Register</h1>
        <h3>Register to The Maze</h3>
        <form id="registerform">
            Username: <input id="name" type="text" name="name" placeholder="Enter Username" class="form"><br>
            Password: <input id="pass" type="password" name="pass" placeholder="Enter password" class="form"><br>
            Confirm Password: <input id="confirmPass" type="password" name="confirmPass" placeholder="Re-enter password" class="form"><br>
            E-mail address: <input id="email" name="email" placeholder="Enter E-mail" class="form"><br><br>
            <input id="submit" type="submit" value="Register" class="button">
        </form>
    </div>
    <script src="../Scripts/RegisterJS.js"></script>
    <script src="../Scripts/jquery.validate.min.js"></script>
    <script>
        $.validator.setDefaults({
            submitHandler: function () {
                submit();
            }
        });
        
        $().ready(function () {
            $("#registerform").validate({
                rules: {
                    name: "required",
                    pass: "required",
                    confirmPass: {
                        required: "true",
                        equalTo: "#pass"
                    },
                    email: {
                        required: true,
                        email: true
                    }
                }
            });
        });
    </script>
</body>
</html>