<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Settings</title>
    <script src="../Scripts/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/StyleSheet.css">
</head>
<body>
    <style>
        .form {
            width: 150px;
            margin: 5px;
            font-family: 'Comic Sans MS';
        }
    </style>
    <script src="../Scripts/SettingsJS.js"></script>
    <ul id="nav-bar"></ul>
    <script>
        $("#nav-bar").load("NavBar.html");
    </script>
    <div class="body">
        <h1>Settings</h1>
        <form id="settingsForm">
            Rows: <input id="rows" type="text" name="rows" class="form"><br>
            Cols: <input id="cols" type="text" name="cols" class="form"><br>
            Search Algo:
            <select id="algo" style="font-family:'Comic Sans MS'">
                <option value="DFS">DFS</option>
                <option value="BFS">BFS</option>
            </select><br><br>
            <input id="submit" type="button" value="Save" onclick="saveSettings()" class=" button">
        </form>
    </div>
    <script src="../Scripts/jquery.validate.min.js"></script>
    <script>
        $("#rows").val(localStorage.getItem("rows"));
        $("#cols").val(localStorage.getItem("cols"));
        $("#algo").val(localStorage.getItem("algo"));
    </script>
</body>
</html>